<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智能学生成绩管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link href="/js/signin.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body background="/image/bear.jpg">


<div class="container">

    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">智能学生成绩管理系统</h2>
        <h2 class="form-signin-heading" align="center">(。・∀・)ノ你好</h2>
        <label for="name" class="sr-only">用户名</label><br>
        <input type="text" id="name" name="name" class="form-control" placeholder="不要忘掉用户名哦" required autofocus>
        <label for="password" class="sr-only">密码</label><br>
        <input type="password" id="password" name="password" class="form-control" placeholder="注意密码大小写哦" required>
        <br>
        <div th:if="${error != null}">
            <div class="alert alert-danger" role="alert" th:text="${error}"></div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div>


</body>
</html>