<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新学生信息</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="TopAndLeft :: top"></div>
<div th:insert="TopAndLeft :: left"></div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
    <div class="container-fluid">
        <form action="/studentUpdate" enctype="multipart/form-data" method="post" style="margin: 10px">
            <div class="form-group" hidden="hidden">
                <label for="id">id：</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="如：10001" th:field="${student.id}">
            </div>
            <div class="form-group">
                <label>学号：<span th:text="${student.SNumber}"></span></label>
            </div>
            <div class="form-group" hidden="hidden">
                <label for="sNumber">学号：</label>
                <input type="text" class="form-control" id="sNumber" name="sNumber" placeholder="如：10001" th:field="${student.SNumber}">
            </div>
            <div class="form-group">
                <label for="sName">姓名：</label>
                <input type="text" class="form-control" id="sName" name="sName" placeholder="请输入姓名" th:field="${student.SName}">
            </div>
            <div class="form-group">
                <label>性别：</label>
<!--                <input type="text" class="form-control" id="sex" name="sex" placeholder="请输入性别" th:field="${student.sex}">-->
                <input name="sex" type="radio" value="男" th:field="${student.sex}"/>男
                <input name="sex" type="radio" value="女" th:field="${student.sex}"/>女
            </div>
            <div class="form-group">
                <label for="birthday">出生日期：</label>
                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="格式为1998-08-04" th:field="${student.birthday}">
            </div>
            <div class="form-group">
                <label>班级名称：</label>
                <!--                <input type="text" class="form-control" id="className" name="className" placeholder="如：G计算机161班" th:field="${student.className}">-->
                <select class="form-control" name="className" id="className" th:field="${student.className}">
                    <div th:each="class : ${classList}">
                        <option th:value="${class.getClassName()}"><span th:text="${class.getClassName()}"></span></option>
                    </div>
                </select>
            </div>
            <div class="form-group">
                <label for="phone">手机号码：</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号码" th:field="${student.phone}">
            </div>
            <div class="form-group">
                <label for="address">地址：</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="请输入地址" th:field="${student.address}">
            </div>
            <div>
                <lable>头像上传：</lable>
                <input class="form-control" placeholder="请选择文件" type="file" name="file"/>
            </div>

            <div>
                <a>
                    <input class="btn btn-primary" type="submit" value="提交" />
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>