<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理学生信息</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="TopAndLeft :: top"></div>
<div th:insert="TopAndLeft :: left"></div>

<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
    <form class="form-inline col-lg-12" action="/studentScoreList">
        <div class="form-group">
            <label class="sr-only">姓名：</label>
            <input type="text" class="form-control" placeholder="输入学生姓名" id="name" name="name" th:field="${studentScoreQueryWrapper.name}">
            <input type="text" class="form-control" placeholder="输入课程名称" id="courseName" name="courseName" th:field="${studentScoreQueryWrapper.courseName}">
            成绩：<input type="text" class="form-control" placeholder="输入最小成绩" id="minScore" name="minScore" th:field="${studentScoreQueryWrapper.minScore}"> - 到 -
            <input type="text" class="form-control" placeholder="输入最大成绩" id="maxScore" name="maxScore" th:field="${studentScoreQueryWrapper.maxScore}">
        </div>
        <button type="submit" class="btn btn-default">开始查找</button>
    </form>

    <hr>

    <div class="container-fluid">
        <table class="table table-hover" style="margin: 10px">
            <tr align="center">
                <td>ID</td>
                <td>课程号</td>
                <td>课程名</td>
                <td>学号</td>
                <td>学生姓名</td>
                <td>成绩</td>
                <td>教师工号</td>
                <td>教师名</td>
                <td>选择你的操作</td>
            </tr>
            <tr th:each="studentScore,index : ${studentsScore}" align="center">
                <td th:text="${index.index + 1}"></td>
                <td th:text="${studentScore.courseNumber}"></td>
                <td th:text="${studentScore.courseName}"></td>
                <td th:text="${studentScore.SNumber}"></td>
                <td th:text="${studentScore.SName}"></td>
                <td th:text="${studentScore.score}"></td>
                <td th:text="${studentScore.TNumber}"></td>
                <td th:text="${studentScore.TName}"></td>
                <td>
                    <a class="btn btn-info btn-xs" th:href="@{'/studentScoreUpdate/studentScore/'+${studentScore.id}}" >修改</a>&nbsp
                    <script language="JavaScript">
                        function delete_confirm(e)
                        {
                            //此处提示：不推荐使用的符号，请查阅文档以获得更好的替代方案
                            //不过目的实现了，没关系啦
                            if (event.srcElement.outerText === "删除")
                            {
                                event.returnValue = confirm("确定删除该学生成绩信息嘛？");
                            }
                        }
                        document.onclick = delete_confirm;
                    </script>
                    <a class="btn btn-danger btn-xs" th:href="@{'/studentScoreDel/'+${studentScore.id}}" onclick="delete_confirm">删除</a>
                </td>
            </tr>
            <tr >
                <td align="center" colspan="9">
                    <a th:href="@{/studentScoreAdd}">添加成绩信息</a>
                </td>
            </tr>
        </table>
    </div>

    <nav class="container-fluid" aria-label="Page navigation" th:if="${pageCount}!= null">
        <ul class="pagination">
            <li th:if="${pageForNow} != 1">
                <a th:href="@{'/studentScoreList/?page='+1+'&size=10'+'&name='+${studentScoreQueryWrapper.name}+'&courseName='+${studentScoreQueryWrapper.courseName}+'&minScore='+${studentScoreQueryWrapper.minScore}+'&maxScore='+${studentScoreQueryWrapper.maxScore}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:if="${pageForNow != 1}">
                <a th:href="@{'/studentScoreList/?page='+${pageForNow - 1}+'&size=10'+'&name='+${studentScoreQueryWrapper.name}+'&courseName='+${studentScoreQueryWrapper.courseName}+'&minScore='+${studentScoreQueryWrapper.minScore}+'&maxScore='+${studentScoreQueryWrapper.maxScore}}" aria-label="Previous">
                    <span aria-hidden="true">&#139;</span>
                </a>
            </li>

            <li th:if="( (${pageForNow +p} >= 1) and (${pageForNow +p} <= ${pageCount}) )" th:each="p : ${#numbers.sequence(-2,2)}" th:class="${p eq 0}? 'active':''">
                <a th:text="${pageForNow +p}" th:href="@{'/studentScoreList/?page='+${pageForNow +p}+'&size=10'+'&name='+${studentScoreQueryWrapper.name}+'&courseName='+${studentScoreQueryWrapper.courseName}+'&minScore='+${studentScoreQueryWrapper.minScore}+'&maxScore='+${studentScoreQueryWrapper.maxScore}}"></a>
            </li>

            <li th:if="${pageForNow != pageCount}">
                <a th:href="@{'/studentScoreList/?page='+${pageForNow + 1}+'&size=10'+'&name='+${studentScoreQueryWrapper.name}+'&courseName='+${studentScoreQueryWrapper.courseName}+'&minScore='+${studentScoreQueryWrapper.minScore}+'&maxScore='+${studentScoreQueryWrapper.maxScore}}" aria-label="Previous">
                    <span aria-hidden="true">&#155;</span>
                </a>
            </li>
            <li th:if="${pageForNow} != ${pageCount}">
                <a th:href="@{'/studentScoreList/?page='+${pageCount}+'&size=10'+'&name='+${studentScoreQueryWrapper.name}+'&courseName='+${studentScoreQueryWrapper.courseName}+'&minScore='+${studentScoreQueryWrapper.minScore}+'&maxScore='+${studentScoreQueryWrapper.maxScore}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <hr>

    <div class="col-lg-4" style="float:left;">
        <form class="form-horizontal" id="form_table" action="/studentScore/upExcel" enctype="multipart/form-data" method="post">
            <input class="form-input col-lg-7" type="file" id="filename" name="filename"/>
            <button type="submit" class="btn btn-primary">导入</button>
            <a href="/studentScore/putExcel" class="btn btn-primary">导出</a>
        </form>
    </div>
</div>

</body>
</html>