<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopAndLeft</title>
</head>
<body>
<div th:fragment="top">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe"></span>&nbsp;智能学生成绩管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://localhost:8080/">前往小雷妙妙屋</a>
                    </li>
                    <!--                如果session中的user不为空，那么显示“我” th:if="${session.user!=null}"  th:text="${session.user.getName()}"-->
                    <li class="dropdown" th:if="${session.userDTO!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span th:text="${session.userDTO.getUsers().getName()}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <!--                当session中的user为空时，显示登录键 th:if="${session.user==null}"-->
                    <li>
                        <a href="/login" th:if="${session.userDTO==null}">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="left">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group" th:if="${session.userDTO != null}">
            <!--学生面板-->
            <a href="#" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 0}) and (${session.LeftFormPower[0]} eq '1'))"><span class="glyphicon glyphicon-bishop"></span>&nbsp;学生管理面板</a>
            <a href="/studentScoreList" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 1}) and (${session.LeftFormPower[1]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生成绩信息管理</a>
            <a href="/studentList" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 2}) and (${session.LeftFormPower[2]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生个人信息管理</a>
            <!--课程面板-->
            <a href="#" class="list-group-item list-group-item-warning" th:if="((${session.userDTO.getPower() >= 3}) and (${session.LeftFormPower[3]} eq '1'))"><span class="glyphicon glyphicon-pawn"></span>&nbsp;课程管理面板</a>
            <a href="/courseList" class="list-group-item list-group-item-warning" th:if="((${session.userDTO.getPower() >= 4}) and (${session.LeftFormPower[4]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课程详细信息管理</a>
            <!--教师面板-->
            <a href="#" class="list-group-item list-group-item-info" th:if="((${session.userDTO.getPower() >= 5}) and (${session.LeftFormPower[5]} eq '1'))"><span class="glyphicon glyphicon-queen"></span>&nbsp;教师管理面板</a>
            <a href="/teacherList" class="list-group-item list-group-item-info" th:if="((${session.userDTO.getPower() >= 6}) and (${session.LeftFormPower[6]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教师个人信息管理</a>
            <!--用户面板-->
            <a href="#" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 7}) and (${session.LeftFormPower[7]} eq '1'))"><span class="glyphicon glyphicon-king"></span>&nbsp;管理员面板</a>
            <a href="/usersList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 8}) and (${session.LeftFormPower[8]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户管理</a>
            <a href="/userTypeList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 9}) and (${session.LeftFormPower[9]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对象管理</a>
            <a href="/formPowerList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 10}) and (${session.LeftFormPower[10]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面板管理</a>
        </div>
    </div>
</div>

</body>
</html>