<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TopAndLeft</title>
</head>
<body>
<div th:fragment="top">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;
                    智能学生成绩管理系统 &nbsp; <span class="glyphicon glyphicon-heart-empty"></span> &nbsp; Made by Thunder
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
<!--                        <a href="http://localhost:8080/">前往小雷妙妙屋</a>-->
                        <a href="/">(。・∀・)ノ 你好呀 </a>
                    </li>
                    <!--                如果session中的user不为空，那么显示“我” th:if="${session.user!=null}"  th:text="${session.user.getName()}"-->
                    <li class="dropdown" th:if="${session.userDTO!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span th:text="${session.userDTO.getUsers().getName()}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;退出登录</a></li>
                        </ul>
                    </li>
                    <!--                当session中的user为空时，显示登录键 th:if="${session.user==null}"-->
                    <li>
                        <a href="/login" th:if="${session.userDTO==null}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="left">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <div class="list-group" th:if="${session.userDTO != null}">
            <!--学生面板-->
            <a href="/studentsInfo" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 0}) and (${session.LeftFormPower[0]} eq '1'))"><span class="glyphicon glyphicon-user"></span>&nbsp;学生管理面板 <span style="float:right;" class="glyphicon glyphicon-th-large"></span></a>
            <a href="/studentScoreList" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 1}) and (${session.LeftFormPower[1]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生成绩信息管理</a>
            <a href="/studentList" class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 2}) and (${session.LeftFormPower[2]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生个人信息管理</a>
            <!--课程面板-->
            <a href="#" class="list-group-item list-group-item-warning" th:if="((${session.userDTO.getPower() >= 3}) and (${session.LeftFormPower[3]} eq '1'))"><span class="glyphicon glyphicon-book"></span>&nbsp;课程管理面板</a>
            <a href="/courseList" class="list-group-item list-group-item-warning" th:if="((${session.userDTO.getPower() >= 4}) and (${session.LeftFormPower[4]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课程详细信息管理</a>
            <!--教师面板-->
            <a href="/teachersInfo" class="list-group-item list-group-item-info" th:if="((${session.userDTO.getPower() >= 5}) and (${session.LeftFormPower[5]} eq '1'))"><span class="glyphicon glyphicon-education"></span>&nbsp;教师管理面板 <span style="float:right;" class="glyphicon glyphicon-th-large"></span></a>
            <a href="/teacherList" class="list-group-item list-group-item-info" th:if="((${session.userDTO.getPower() >= 6}) and (${session.LeftFormPower[6]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教师个人信息管理</a>
            <!--班级面板-->
            <a href="#"  class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 7}) and (${session.LeftFormPower[7]} eq '1'))"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;班级管理面板</a>
            <a href="/classList"  class="list-group-item list-group-item-success" th:if="((${session.userDTO.getPower() >= 8}) and (${session.LeftFormPower[8]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;班级详细信息管理</a>
            <!--用户面板-->
            <a href="#" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 9}) and (${session.LeftFormPower[9]} eq '1'))"><span class="glyphicon glyphicon-king"></span>&nbsp;管理员面板</a>
            <a href="/usersList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 10}) and (${session.LeftFormPower[10]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户管理</a>
            <a href="/userTypeList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 11}) and (${session.LeftFormPower[11]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色管理</a>
            <a href="/formPowerList" class="list-group-item list-group-item-danger" th:if="((${session.userDTO.getPower() >= 12}) and (${session.LeftFormPower[12]} eq '1'))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面板管理</a>
        </div>
    </div>
</div>


</body>
</html>