<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.demo.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.crud.demo.entity.Class">
    <!--@mbg.generated-->
    <!--@Table class-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_Number" jdbcType="VARCHAR" property="classNumber" />
    <result column="class_Name" jdbcType="VARCHAR" property="className" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, class_Number, class_Name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.crud.demo.entity.Class" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into class (class_Number, class_Name)
    values (#{classNumber,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.crud.demo.entity.Class" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classNumber != null">
        class_Number,
      </if>
      <if test="className != null">
        class_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classNumber != null">
        #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crud.demo.entity.Class">
    <!--@mbg.generated-->
    update class
    <set>
      <if test="classNumber != null">
        class_Number = #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_Name = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crud.demo.entity.Class">
    <!--@mbg.generated-->
    update class
    set class_Number = #{classNumber,jdbcType=VARCHAR},
      class_Name = #{className,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-23-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class
    </select>
</mapper>